PAYLOAD_SECRET=vygeneruj-dlouhy-nahodny-tajny-retezec
DATABASE_URL=postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DATABASE?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/DATABASE?sslmode=require
NEXT_PUBLIC_SITE_URL=http://localhost:3000
